doctype html
html
    head
        meta(charset="utf-8")
        title Big Store
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald")
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
    body
        include include/page-header.pug
        main
            include include/page-promo.pug
            include include/page-featured.pug
            include include/page-new-products.pug
            include include/page-trending.pug
            include include/page-newsletter.pug
        include include/page-footer.pug
