footer#page-footer.page-footer
    .brands
        .brands__image
        .brands__image
        .brands__image
        .brands__image
    .page-footer__content
        .about
            h3.about__title Who We Are
            p.about__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop...
            .about__contacts
                .about__address Address 123, Country
                .about__phone (043) 875-9211
                .about__email info@kopasoft.com
        .categories
            h3.categories__title Categories
            ul.categories__content
                li.categories__item
                    a.categories__link(href="#") New collection
                li.categories__item
                    a.categories__link(href="#") Best sellers
                li.categories__item
                    a.categories__link(href="#") Manufacturers
                li.categories__item
                    a.categories__link(href="#") Suppliers
                li.categories__item
                    a.categories__link(href="#") New Products
                li.categories__item
                    a.categories__link(href="#") New collection
                li.categories__item
                    a.categories__link(href="#") Best sellers
                li.categories__item
                    a.categories__link(href="#") Manufacturers
                li.categories__item
                    a.categories__link(href="#") Suppliers
                li.categories__item
                    a.categories__link(href="#") New Products
                li.categories__item
                    a.categories__link(href="#") New collection
                li.categories__item
                    a.categories__link(href="#") Best sellers
                li.categories__item
                    a.categories__link(href="#") Manufacturers
                li.categories__item
                    a.categories__link(href="#") Suppliers
                li.categories__item
                    a.categories__link(href="#") New Products

        .tweets
            h3.tweets__title Lastest Tweet
            .tweets__card
                img.tweets__img(src="" alt="")
                .tweets__desc
                    .tweets__tweet Check out this great #themeforest item for you
                    .tweets__name 'Simpler Landing'
                    a.tweets__link(href="#") http://t.co/LbLwldb6
                    .tweets__time 2 hours ago
            .tweets__card
                img.tweets__img(src="" alt="")
                .tweets__desc
                    .tweets__tweet Check out this great #themeforest item for you
                    .tweets__name 'Simpler Landing'
                    a.tweets__link(href="#") http://t.co/LbLwldb6
                    .tweets__time 2 hours ago
            .tweets__card
                img.tweets__img(src="" alt="")
                .tweets__desc
                    .tweets__tweet Check out this great #themeforest item for you
                    .tweets__name 'Simpler Landing'
                    a.tweets__link(href="#") http://t.co/LbLwldb6
                    .tweets__time 2 hours ago
    footer.page-footer__footer
        .page-footer__copy Copyrights. &copy; 2012 by KOPASOFT
        nav.page-footer__nav
            ul.footer-menu
                li.footer-menu__item
                    a.footer-menu__link(href="#") Home
                li.footer-menu__item
                    a.footer-menu__link(href="#") My Cart
                li.footer-menu__item
                    a.footer-menu__link(href="#") Checkout
                li.footer-menu__item
                    a.footer-menu__link(href="#") Completed Orders
                li.footer-menu__item
                    a.footer-menu__link(href="#") Contact us
        a.to-top(href="#page-header") Back to top

