section#page-featured.page-featured
    header.page-featured__header
        h3.page-featured__title FEATURED
        .page-featured__controls
    .page-featured__content
        .featured-card
            .featured-card__img-wrapper
                img.featured-card__img(src="img/featured-img.png" alt="sneakers blue")
                .featured-card__tape
                    .featured-card__tape-text New
            .featured-card__desc
                .featured-card__info
                    .featured-card__title Herbal Sport
                    .featured-card__price $101.88
                button.featured-card__btn Buy

