section#page-new-products.page-new-products
    h3.page-new-products__title
    .page-new-products__content
        .page-new-products__card
            .page-new-products__img-wrapper
                img.page-new-products__img(src="img/new-products-img-1.png" alt="sneakers 1")
                .page-new-products__tape
                    .page-new-products__tape-text Sale
            .page-new-products__desc
                .page-new-products__info
                    .page-new-products__title Lorem ipsum dolor sit
                    .page-new-products__price
                        span.page-new-products__disabled $69.99
                        |
                        | $34.99
                button.page-new-products__btn Buy
        .page-new-products__card
            .page-new-products__img-wrapper
                img.page-new-products__img(src="img/new-products-img-2.png" alt="sneakers 2")
            .page-new-products__desc
                .page-new-products__info
                    .page-new-products__title Lorem ipsum dolor sit
                    .page-new-products__price $34.99
                button.page-new-products__btn Buy
        .page-new-products__card
            .page-new-products__img-wrapper
                img.page-new-products__img(src="img/new-products-img-3.png" alt="sneakers 3")
                .page-new-products__tape
                    .page-new-products__tape-text New
            .page-new-products__desc
                .page-new-products__info
                    .page-new-products__title Lorem ipsum dolor sit
                    .page-new-products__price $34.99
                button.page-new-products__btn Buy
    .page-new-products__scrollbar
