header#page-header.page-header
    .header-container
        .logo
            .logo__top-text BIG
            .logo__bottom-text Store
        .header-interactions
            ul.social
                li.social__item
                    a.social__link(href="#") Twitter
                li.social__item
                    a.social__link(href="#") Facebook
                li.social__item
                    a.social__link(href="#") Dribbble
                li.social__item
                    a.social__link(href="#") LastFM
                li.social__item
                    a.social__link(href="#") LinkedIn
                li.social__item
                    a.social__link(href="#") Tumbir
            form.search
                input.search__text(type="text" placeholder="Search")
                span.search__submit-wrapper
                    input.search__submit(type="submit" value="")
        nav.menu
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#") Enteraiment
                li.menu__item
                    a.menu__link(href="#") LifeStyle
                li.menu__item
                    a.menu__link(href="#") Technology
                li.menu__item
                    a.menu__link(href="#") Enteraiment
                li.menu__item
                    a.menu__link(href="#") LifeStyle
                li.menu__item
                    a.menu__link(href="#") Sports
        .header-current
            .latest-news August .12 .2012 - Syrian prime minister defects, fighting goes on
            .cart
                span.cart__title Shopping Cart:
                |
                |
                span.cart__amount 0
                |
                |
                span.cart__desc item(s) -
                |
                |
                span.cart__value $0.00
                |
                |
                a.cart__open(href="#") Cart

