section#page-trending.page-trending
    .page-trending__controls
        h3.page-trending__title Trending now
        ul.page-trending__tabs
            li.page-trending__tab-name.page-trending__tab-name_active Men
            li.page-trending__tab-name Women
            li.page-trending__tab-name Kids
    .page-trending__content
        .page-trending__tab
            .page-trending__card
                .page-trending__img-wrapper
                    img.page-trending__img(src="img/trending-t-shirt.png" alt="t-shirt")
                    .page-trending__tape
                        .page-trending__tape-text Sale
                .page-trending__desc
                    .page-trending__info
                        h4.page-trending__title Shop t-shirt
                        p.page-trending__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula13
                        .page-trending__price
                            span.page-trending__disabled $69.99
                            |
                            | $34.99
                    button.page-trending__btn Buy
            .page-trending__card
                .page-trending__img-wrapper
                    img.page-trending__img(src="img/trending-sneakers.png" alt="sneakers")
                .page-trending__desc
                    .page-trending__info
                        h4.page-trending__title Sneaker
                        p.page-trending__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula13
                        .page-trending__price $34.99
                    button.page-trending__btn Buy
            .page-trending__card
                .page-trending__img-wrapper
                    img.page-trending__img(src="img/trending-backpack.png" alt="backpack")
                .page-trending__desc
                    .page-trending__info
                        h4.page-trending__title Backpack
                        p.page-trending__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula13
                        .page-trending__price $34.99
                    button.page-trending__btn Buy
            .page-trending__card
                .page-trending__img-wrapper
                    img.page-trending__img(src="img/trending-heritage.png" alt="heritage")
                .page-trending__desc
                    .page-trending__info
                        h4.page-trending__title Heritage
                        p.page-trending__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula13
                        .page-trending__price $34.99
                    button.page-trending__btn Buy

