section#page-newsletter.page-newsletter
    h3.page-newsletter__title Newsletter
    p.page-newsletter__desc Sign up to our newslatter so we can send you site updates, offers and news
    form.newsletter-form
        input.newsletter-form__text(type="email" placeholder="Email")
        input.search__submit(type="submit" value="Subscribe")
